<div>
      <div class="mt-3 clearfix">
        <h1 ng-hide="!loggedUser" class="float-left">Adicionar Time</h1>
        <button class="btn btn-primary ml-4" ng-if="team.pokemon.length > 0" ng-click="writeTeam()">Concluir Time</button>
      </div> 
      <!-- Show alert if error to connect to api -->
      <div class="alert alert-danger" ng-if="apiError">{{apiError}}</div>
      <!-- Show alert if reach maximum of pokemons in a team -->
      <div class="alert alert-danger" ng-if="!canInsert">
      <!-- Show alert if error to write file -->
      <div class="alert alert-danger" ng-if="teamWriteError">
        <p>Erro ao tentar salvar dados do time. Por favor tente denovo</p>
      </div>
        <p>Não é possível inserir mais de 6 pokemons em um time. Clique em Concluir time para salvar seu time</p>
      </div>
      <div class="alert alert-success" ng-if="team.name">
        <p class="text-uppercase"><strong>Dados selecionados:</strong> {{team.name}}</p>
        <span class="clearfix">
          <div ng-if="team.pokemon" ng-repeat="item in team.pokemon" class="float-left">
            <small><strong>Pokemon: </strong>{{item.name}} -
              <strong>Habilidade 1:</strong> {{item.move1}} -
              <strong>Habilidade 2:</strong> {{item.move2}} -
              <strong>Habilidade 3:</strong> {{item.move3}} -
              <strong>Habilidade 4:</strong> {{item.move4}} -
            </small>
          </div>
        </span>
        <div ng=ng-if="pokemonModel.selectedName">
          <p class="text-uppercase"><strong>Seleção em Andamento</strong></p>
          <span><small><strong>Pokemon:</strong> {{pokemonModel.selectedName}}
          <span ng-show="pokemonModel.selectedMove1"><strong> - Habilidade 1:</strong> {{pokemonModel.selectedMove1}}</span>
          <span ng-show="pokemonModel.selectedMove2"><strong> - Habilidade 2:</strong> {{pokemonModel.selectedMove2}}</span>
          <span ng-show="pokemonModel.selectedMove3"><strong> - Habilidade 3:</strong> {{pokemonModel.selectedMove3}}</span>
          <span ng-show="pokemonModel.selectedMove4"><strong> - Habilidade 4:</strong> {{pokemonModel.selectedMove4}}</span>
          </small></p>
        </div>
      </div>
      <div ng-hide="team.name || !loggedUser">
        <input name="team" type="text" class="form-control" ng-model="teamModel.name" placeholder="Insira o nome do time" />
        <button class="btn btn-primary mt-3" ng-click="selectTeam()">Salvar time</button>
        
      </div>
      <div ng-if="team.name" ng-hide="pokemonModel.selectedName || apiError || !canInsert">
        <h3>Selecione o pokemon</h3>
        <input name="pokemon" type="text" class="form-control" ng-model="pokemonModel.name" placeholder="Pesquisar pokemon desejado..">
        <div class="list-group" ng-repeat="pokemon in listPokemons.results | filter:{name:pokemonModel.name}">
          <span class="list-group-item pointer" ng-show="pokemonModel.name" ng-click="selectPokemon(pokemon.name)">{{pokemon.name}}</span>
        </div>
      </div>
      <!-- After select pokemon name, select the first move -->
      <div ng-if="pokemonModel.selectedName" ng-hide="pokemonModel.selectedMove1 || apiError">
        <h3>Selecionar habilidade 1</h3>
        <input name="move1" type="text" class="form-control" ng-model="pokemonModel.move1" placeholder="Pesquisar habilidade desejada..">
        <div class="list-group" ng-repeat="move in listMoves.results | filter:{name:pokemonModel.move1}">
        <span class="list-group-item pointer" ng-show="pokemonModel.move1" ng-click="selectMove1(move.name)">{{move.name}}</span>
        </div>
      </div>
      <!-- move 2 -->
      <div ng-if="pokemonModel.selectedName && pokemonModel.selectedMove1" ng-hide="pokemonModel.selectedMove2">
        <h3>Selecionar habilidade 2</h3>
        <input name="move2" type="text" class="form-control" ng-model="pokemonModel.move2" placeholder="Pesquisar habilidade desejada..">
        <div class="list-group" ng-repeat="move in listMoves.results | filter:{ name: '!' + pokemonModel.selectedMove1} | filter:{name:pokemonModel.move2}">
        <span class="list-group-item pointer" ng-show="pokemonModel.move2" ng-click="selectMove2(move.name)">{{move.name}}</span>
        </div>
      </div>
      <!-- move 3 -->
      <div ng-if="pokemonModel.selectedName && pokemonModel.selectedMove1 && pokemonModel.selectedMove2" ng-hide="pokemonModel.selectedMove3">
        <h3>Selecionar habilidade 3</h3>
        <input name="move3" type="text" class="form-control" ng-model="pokemonModel.move3" placeholder="Pesquisar habilidade desejada..">
        <div class="list-group" ng-repeat="move in listMoves.results | filter:{ name: '!' + pokemonModel.selectedMove1} | filter:{ name: '!' + pokemonModel.selectedMove2} | filter:{name:pokemonModel.move3}">
        <span class="list-group-item pointer" ng-show="pokemonModel.move3" ng-click="selectMove3(move.name)">{{move.name}}</span>
        </div>
      </div>
      <!-- move 4 -->
      <div ng-if="pokemonModel.selectedName && pokemonModel.selectedMove1 && pokemonModel.selectedMove2 && pokemonModel.selectedMove3" ng-hide="pokemonModel.selectedMove4">
        <h3>Selecionar habilidade 4</h3>
        <input name="move4" type="text" class="form-control" ng-model="pokemonModel.move4" placeholder="Pesquisar habilidade desejada..">
        <div class="list-group" ng-repeat="move in listMoves.results | filter:{ name: '!' + pokemonModel.selectedMove1} | filter:{ name: '!' + pokemonModel.selectedMove2} | filter:{ name: '!' + pokemonModel.selectedMove3} | filter:{name:pokemonModel.move4}">
        <span class="list-group-item pointer" ng-show="pokemonModel.move4" ng-click="selectMove4(move.name)">{{move.name}}</span>
        </div>
      </div>
      <button class="btn btn-primary" ng-if="pokemonModel.selectedMove4" ng-click="insertPokemon()">Salvar pokemon</button>

    </div>