<div>
	<h1>Cadastro</h1>
	<div class="alert alert-success" ng-if="writeSuccess">
		<p>Cadastro realizado com sucesso! <strong><a href="#!/">Fazer login</a></strong></p>
	</div>
	<div class="alert alert-danger" ng-if="writeError">
		<p>Erro ao realizar cadastro!</p>
	</div>
	<form class="form-horizontal" name="register" ng-hide="writeSuccess">
		<div class="form-group">
			<div class="col-md-2">
				<label>Usuário</label>
			</div>
			<div class="col-md-5">
				<input type="text" name="username" class="form-control" ng-model="registerModel.user" required />
				
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label>Senha</label>
			</div>
			<div class="col-md-5">
				<input type="password" name="password" class="form-control" ng-model="registerModel.passwd" required />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-5">
				<button class="btn btn-primary" ng-click="save()">Cadastrar</button>
				<button class="btn btn-default" ng-click="reset()">Reset</button>
			</div>
		</div>
		
	</form>
</div>