<div ng-if="data" class="row">
	<div class="col-md-12">
		<p class="text-right"><strong>Olá, {{data.user}}</strong></p>
		
			<h2>Times</h2>
			
				<button class="btn btn-default mt-4 mb-4">Novo Time</button>
			
			
			<p ng-if="!data.team[0]">Você não possui times cadastrados</p>
			
			<div class="card" ng-repeat="item in data.team">
				<div class="card-body">
					<h4 class="card-title">{{item.name}}</h4>
					<div class="float-left mr-5" ng-repeat="pokemon in item.pokemons">
						<h5 class="card-subtitle mb-2 text-muted">{{pokemon.name}}</h5>
						<ul>
							<li>{{pokemon.move1}}</li>
							<li>{{pokemon.move2}}</li>
							<li>{{pokemon.move3}}</li>
							<li>{{pokemon.move4}}</li>
						</ul>
					</div>
				</div>
				
			</div>
		
	</div>
</div>